/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0 20 0 20;
	}
body {
	/*font: 0.8em Alegreya Sans, sans-serif; */
	font-family: 'EB Garamond', serif; /* https://www.youtube.com/watch?v=1S3ga5Or5ec */
	line-height: 1.88889;
	color: #555753;
	margin: 0;
	padding: 0;
	}
p {
	margin-top: 0;
	text-align: justify;
	}
h3 {
	/*font: italic normal 1.4em georgia, sans-serif;*/
	font-family: 'Cuprum', sans-serif; /* https://www.youtube.com/watch?v=1S3ga5Or5ec */
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
	}
a:link {
	font-weight: bold;
	text-decoration: none;
	color: #999999;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #999999;
	}
a:hover, a:active {
	text-decoration: underline;
	color: #9685BA;
	}
acronym {
	border-bottom: none;
	}

img{
	padding: 20 0 0 0;
	max-width:100%;
	height:auto;
}


@media only screen and (min-width: 512px) {
	aside {
		width: 49%;
		float: left;
	}
	main {
		width: 49%;
		float: right;
	}
}
