//Variables: https://www.youtube.com/watch?v=wLfyzlGqDP4
$letter_spacing: 1px;
//Example of mixins, nesting and use of global Variables

//https://www.youtube.com/watch?v=3wXqwX4nu8I
@mixin upper_case{
  text-transform: uppercase;
  letter-spacing: $letter_spacing + 1px;
}

body {
  p {
    padding: 0px 20px 20px 0px;
  }
  h3 {
    @include upper_case
    }
  }
